<div style="position:relative">
<div class="details">        
        <span class="website">  PAD Show   </span><br>
        <span class="confirmed">Your booking is confirmed!</span> <img class="image" src="../../assets/images/theatre/right.jpg"><br><br>
        <span class="id"> Booking ID  {{id}} </span><br><br>
</div>
<hr>
 <div class="details1"> 
<div class="details2">
  <img src="{{ pic }}" class="detailsimage" > 
  </div> 
  <div class="details3"> 
  <span>{{movie | titlecase}}  ({{lang}})</span><br><br>
  <span>{{time}} | Date : {{date}} - {{month}} - {{year}}</span><br><br>
  <span>{{theatre}}</span> 
  </div> 
  <div class="details4">  
   <img src="../../assets/images/theatre/confirmed.jpg" style="width:200px">
   </div> 
</div>
</div>