<div style="text-align:right">
<button class="flash-button" style="font-size:25px;border:2px solid" (click)= "BookTickets()">Book Tickets</button>
</div>
<div>  
     <div style="text-align:left" >
     <iframe class="iframe" src = ""></iframe>
     <span style="font-size:40px;color: rgb(224, 202, 146);opacity: 0.5;"> {{ movieName | titlecase }} </span>
     </div>     
</div>
<br>
<div class="synopsis">
          <span style="font-size:40px;color: darkgoldenrod;border-bottom-style:solid">Synopsis</span><br><br>
     <p style="font-size:35px;font-style: italic; color:darkslategray">
          {{ synopsis }}
     </p>
</div>
<hr>
<div class="heroandheroine">        
     <span style="font-size:40px;color: darkgoldenrod;border-bottom-style:solid">Cast</span><br><br>
     <ol style="list-style:none;width:100%">         
         <span style="font-size:20px;color:peru;font-style: italic;font-weight:bold">Hero:</span><br><br> <li style="display:inline;"><img style="border-radius: 80px" src= "{{ hero }}" ></li><br><br>
         <span style="font-size:20px;color:peru;font-style: italic;font-weight:bold">Heroine:</span><br><br><li style="display:inline; margin: 10%"><img style="border-radius: 80px" src= "{{ heroine }}"></li>
     </ol>
</div>

<div class="directorandmusician">
          <hr>
     <span style="font-size:40px;color: darkgoldenrod;border-bottom-style:solid">Crew</span><br><br>
     <ol style="list-style:none;width:100%">         
          <span style="font-size:20px;color:peru;font-style: italic;font-weight:bold">Director:</span><br><br>  <li style="display:inline"><img style="border-radius: 80px" src= "{{ director }}" ></li><br><br>
          <span style="font-size:20px;color:peru;font-style: italic;font-weight:bold">Musician:</span><br><br> <li style="display:inline; margin: 10%"><img style="border-radius: 80px" src= "{{ musician }}"></li>
     </ol>
</div>
<hr>